* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F2F0D8 url("/img/dorm_film.jpg") center / cover no-repeat fixed;
    /* background-image: url(/img/dorm_film.jpg);
    background-size: cover;
    background-attachment: fixed; */
    font-family: Cormorant Garamond;
    margin: 25%;
}

/* section{
    padding: 35px;
} */

header {
    text-align: center;
}

#nameLogo {
    font-family: edu nsw act cursive;
    margin: 25px;
    font-weight: 400;
    font-size: 52px;
    text-decoration: none;
    text-transform: lowercase;
}

header nav a {
    border-bottom: .5px dotted #F2F0D8;
    margin: 25px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: #F2F0D8;
}

nav a:hover{
    color: red;
}

/* #title {
    text-align: center;
    color: rgb(54, 58, 75);
} */
/* 
h2{
    margin-bottom: 25px;
} */

