* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    color: #26241C;
    background-color: #F2F0D8;
}

header {
    margin-top: 25px;
    text-align: right;
}

header nav a {
    margin: 10px 50px 100px 10px; 
   text-transform: uppercase;
    color: black;
    text-decoration: none;
}


#title {
    text-align: center;
}

h1, h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

#assignments {
    margin: 10px 100px 100px 10px; 
}