* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F0D8;
    color: #26241C;
    font-family: Cormorant Garamond;
}


header {
    margin-top: 25px;
    text-align: center;
}

#nameLogo {
    margin-bottom: 25px;
    font-family: edu nsw act cursive;
    font-weight: 400;
    font-size: 52px;
    text-decoration: none;
    text-transform: lowercase;
}

header nav a {
    padding: 5px;
    margin: 60px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    border-bottom: .5px dotted black;
}

nav a:hover{
    color: red;
}

#title {
    text-align: center;
    color: rgb(54, 58, 75);
    padding: 35px;
}

div{
    margin: 10% 25%;
}

div img{
    align-content: center;
    width: 100%;
}

h2{
    margin-bottom: 25px;
}

h3{
    margin-bottom: 25px;
    text-align: right;
}

p{
    font-size: 24px;
}