* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #26241C;
    background-color: #F2F0D8;
    font-family: Cormorant Garamond;
}

header {
    margin-top: 25px;
    text-align: center;
}

#nameLogo {
    margin-bottom: 25px;
    font-size: 52px;
    text-decoration: none;
    text-transform: lowercase;
}

header nav a {
    padding: 5px;
    margin: 60px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    border-bottom: .5px dotted black;
}

nav a:hover{
    color: red;
}

#title {
    text-align: center;
    color: rgb(54, 58, 75);
}

h2{
    margin-bottom: 25px;
}

iframe {
    display: block;
    width: 50%;
    margin: auto;
}

section {
    margin: 50px;
}

footer{
    text-align: center;
    border-style: dotted;
    padding: 20px;
    margin: 8px;
}
